body {
  background-color: black;
  color: lime;
  line-height: 0.9;
  font-family: Lucida Console;
  margin: 0;
  overflow-x: hidden;
}
hr {
  background-color: lime;
  height: 1px; 
  border: 0; 
}
blink, .blink-css { 
  animation: blink 1s step-end infinite; 
}
@keyframes blink {
  67% { opacity: 0 }
}
a {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
  font-weight: bold;
}
table, th, td {
  border: 1px solid;
  color: lime;
  text-align: left;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
  outline: 2px solid green;
}
::-webkit-scrollbar-thumb {
  background: lime;
}
::-webkit-scrollbar-thumb:hover {
  background: green;
}
