body::after {
  content: " ";
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: url('assets/images/rgb_normal.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.1;
  pointer-events: none;
  -webkit-animation: bg_blink .2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: bg_blink .2s;
  -moz-animation-iteration-count: infinite;
  -o-animation: bg_blink .2s;
  -o-animation-iteration-count: infinite;
}
body {
  background-color: black;
  color: lime;
  line-height: 0.9;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  padding: 2px;
  margin: 0;
  overflow-x: hidden;
}
hr {
  background-color: lime;
  height: 1px; 
  border: 0; 
}
blink, .blink-css { 
  animation: blink 1s step-end infinite; 
}
@keyframes blink {
  67% { opacity: 0 }
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
table {
  border: 1px solid;
  color: lime;
  text-align: left;
  margin: 0;
  border-collapse: collapse;
  width: 40%
}
tr:nth-child(even) {
  background-color: #003300;
}
tr:nth-child(odd) {
  background-color: #000000;
}
th, td {
  padding: 5px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
  outline: 2px solid green;
}
::-webkit-scrollbar-thumb {
  background: lime;
}
::-webkit-scrollbar-thumb:hover {
  background: green;
}
@-webkit-keyframes bg_blink {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.15;
    }
}
@-moz-keyframes bg_blink {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.15;
    }
}
@-o-keyframes bg_blink {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.15;
    }
}
.cursor {
  -webkit-animation: blink 0.25s step-start 0s infinite;
  animation: blink 0.25s step-start 0s infinite;
  border-bottom: 2px solid white;
  display: inline-block;
  height: 1em;
  transform: translateY(2px);
  width: 0.5em;
}
